#pip==7.1.2
SQLAlchemy==1.0.8
SQLAlchemy-Enum34==1.0.1
enum34==1.0.4
json-rpc==1.10.2
mysql-connector-python=2.0.4 #may be failed, use "pip install mysql-connector-python --allow-external mysql-connector-python"